---
import Layout from '../layouts/Layout.astro';
import '../styles/globals.css';
import '../styles/randomNumber.css';
import { z } from 'zod';
const min = Astro.url.searchParams.get('min');
const max = Astro.url.searchParams.get('max');
if (!min || !max) {
	return Astro.redirect('/?error');
}
const mode = Astro.url.searchParams.get('mode') || '10';
const numbers = Astro.url.searchParams.get('numbers') || '1';
const isMinValid = z.number().min(-9999999).max(9999999).safeParse(parseInt(min));
const isMaxValid = z.number().min(-9999999).max(9999999).safeParse(parseInt(max));
const isModeValid = z.enum(['10', '2', '8', '16']);
const isNumbersValid = z.number().min(1).max(5).safeParse(parseInt(numbers));
const isHex = mode == isModeValid.Values[16];
let randomNumber = [];
if (
	!isMinValid.success ||
	!isMaxValid.success ||
	isMinValid.data > isMaxValid.data ||
	!isNumbersValid.success ||
	!isModeValid.safeParse(mode).success
) {
	return Astro.redirect('/?error');
}
for (let i = 0; i < isNumbersValid.data; i++) {
	randomNumber.push(
		Math.floor(
			Math.random() * (isMaxValid.data - isMinValid.data + 1) + isMinValid.data,
		)
			.toString(parseInt(mode))
			.toUpperCase(),
	);
}
---

<Layout>
	{
		isNumbersValid.data > 1 ? (
			<h1>
				The {numbers} random numbers in base {mode} between {isHex ? '0x' : ''}
				{isMinValid.data.toString(parseInt(mode)).toUpperCase()} and{' '}
				{isHex ? '0x' : ''}
				{isMaxValid.data.toString(parseInt(mode)).toUpperCase()} are:
			</h1>
		) : (
			<h1>
				The random number in base {mode} between {isHex ? '0x' : ''}
				{isMinValid.data.toString(parseInt(mode)).toUpperCase()} and{' '}
				{isHex ? '0x' : ''}
				{isMaxValid.data.toString(parseInt(mode)).toUpperCase()} is:
			</h1>
		)
	}
	<h1>
		{isHex ? '0x' : ''}{randomNumber.join(' | ')}
	</h1>
	<div id="buttons">
		<a href=`/generate?numbers=${numbers}&mode=${mode}&min=${min}&max=${max}`
			><button>Generate Another</button></a
		>
		<a href=`/?numbers=${numbers}&mode=${mode}`
			><button>Change Intervals</button></a
		>
	</div>
</Layout>
