---
import Layout from '../layouts/Layout.astro';
import '../styles/globals.css';
import '../styles/randomNumber.css';
import { z } from 'zod';
const min = Astro.url.searchParams.get('min');
const max = Astro.url.searchParams.get('max');
if (!min || !max) {
	return Astro.redirect('/?error');
}
const mode = Astro.url.searchParams.get('mode') || '10';
const numbers = Astro.url.searchParams.get('numbers') || '1';
const isMinValid = z
	.number()
	.min(-9999999)
	.max(9999999)
	.safeParse(parseInt(min));
const isMaxValid = z
	.number()
	.min(-9999999)
	.max(9999999)
	.safeParse(parseInt(max));
const isModeValid = z.enum(['10', '2', '8', '16']);
const isNumbersValid = z.number().min(1).max(5).safeParse(parseInt(numbers));
const isHex = mode == isModeValid.Values[16];
const randomNumber: string[] = [];
if (
	!isMinValid.success ||
	!isMaxValid.success ||
	isMinValid.data > isMaxValid.data ||
	!isNumbersValid.success ||
	!isModeValid.safeParse(mode).success
) {
	return Astro.redirect('/?error');
}
const minNumber = isMinValid.data.toString(parseInt(mode)).toUpperCase();
const maxNumber = isMaxValid.data.toString(parseInt(mode)).toUpperCase();
for (let i = 0; i < isNumbersValid.data; i++) {
	randomNumber.push(
		Math.floor(
			Math.random() * (isMaxValid.data - isMinValid.data + 1) + isMinValid.data,
		)
			.toString(parseInt(mode))
			.toUpperCase(),
	);
}
---

<Layout>
	{
		isNumbersValid.data > 1 ? (
			<h1>
				The {numbers} random numbers in base {mode} between {isHex ? '0x' : ''}
				{minNumber} and {isHex ? '0x' : ''}
				{maxNumber} are:
			</h1>
		) : (
			<h1>
				The random number in base {mode} between {isHex ? '0x' : ''}
				{minNumber} and {isHex ? '0x' : ''}
				{maxNumber} is:
			</h1>
		)
	}
	<h1>
		{isHex ? '0x' : ''}<span id="number">{randomNumber.join(' | ')}</span>
	</h1>
	<div id="buttons">
		<noscript>
			<a href=`/generate?numbers=${numbers}&mode=${mode}&min=${min}&max=${max}`
				><button>Generate Another</button></a
			>
			<style>
				#another {
					display: none;
				}
			</style>
		</noscript>
		<button id="another">Generate Another</button>
		<a href=`/?numbers=${numbers}&mode=${mode}`
			><button>Change Intervals</button></a
		>
	</div>
	<script>
		const anotherElement = document.getElementById('another');
		if (anotherElement) {
			anotherElement.addEventListener('click', () => {
				const number = document.getElementById('number');
				const randomNumber: string[] = [];
				if (number) {
					const url = new URLSearchParams(window.location.search);
					const min = url.get('min');
					const max = url.get('max');
					const mode = url.get('mode') || '10';
					const numbers = url.get('numbers') || '1';
					if (min && max && mode && numbers) {
						for (let i = 0; i < parseInt(numbers); i++) {
							randomNumber.push(
								Math.floor(
									Math.random() * (parseInt(max) - parseInt(min) + 1) +
										parseInt(min),
								)
									.toString(parseInt(mode))
									.toUpperCase(),
							);
						}
					}
					number.innerHTML = randomNumber.join(' | ');
				}
			});
		}
	</script>
</Layout>
